<div class="App">
	<header class="App-header">
		<form (input)="onChange($event)" (submit)="onSubmit($event)" class="trabajo" id="course-form">
			<fieldset>
				<div class="titulo">
					<h2 class="test">LEVEL TEST ADULTOS</h2>
				</div>
			</fieldset>
			<fieldset>
				<div class="parrafo">
					<p>Please read each question carefully. Good luck.</p>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1167749034" class="leyenda">Please write your name</legend>
				<div class="form-group">
					<input id="name" type="text" name="name" class="form-control-estilo" required/>
				</div>
			</fieldset>
			<fieldset>
				<legend for="271128965" class="leyenda">Please, write your email</legend>
				<div class="form-group">
					<input id="emailAddress" type="email" name="emailAddress" class="form-control-estilo" required/>
				</div>
			</fieldset>
			<fieldset>
				<legend for="394618184" class="leyenda">1.- ¿Dónde ____________ la estación?</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.365519674" value="hay" required/>
							hay
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.365519674" value="está" required/>
							está
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.365519674" value="están" required/>
							están
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1278669800" class="leyenda">2.- Javier ____________ preocupado por el examen</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.774930571" value="es" required/>
							es
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.774930571" value="está" required/>
							está
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.774930571" value="estoy" required/>
							estoy
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="849832200" class="leyenda">3.- María ____________ en una cafetería.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.98888017" value="trabaja" required/>
							trabaja
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.98888017" value="trabajo" required/>
							trabajo
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.98888017" value="trabajas" required/>
							trabajas
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1030720196" class="leyenda">4.- Yo no ____________ a tu novio. ¿Cuándo me lo presentas?</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.304669622" value="conozco" required/>
							conozco
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.304669622" value="conoce" required/>
							conoce
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.304669622" value="sé" required/>
							sé
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1897260243" class="leyenda">5.- ¿A ustedes ____________ el cine mexicano?</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.132860419" value="les gusta" required/>
							les gusta
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.132860419" value="les gustan" required/>
							les gustan
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.132860419" value="le gustan" required/>
							le gustan
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="875545658" class="leyenda">6.- No me encuentro bien. Me duele ____________cabeza.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1715598872" value="una" required/>
							una
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1715598872" value="su" required/>
							su
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1715598872" value="la" required/>
							la
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1859229389" class="leyenda">7.- ¿Dónde está Miguel?</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.550026694" value="Está duchándome" required/>
							Está duchándome
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.550026694" value="Está duchándote" required/>
							Está duchándote
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.550026694" value="Está duchándose" required/>
							Está duchándose
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1386791454" class="leyenda">8.- Señor, necesito saber la verdad. ____________ todo, por favor.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.831757207" value="Cuéntamelo" required/>
							Cuéntamelo
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.831757207" value="Cuéntemelo" required/>
							Cuéntemelo
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.831757207" value="Me lo cuente" required/>
							Me lo cuente
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1654615257" class="leyenda">9.- Ayer ____________ un día increíble. </legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1431812459" value="fue" required/>
							fue
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1431812459" value="ha sido" required/>
							ha sido
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1431812459" value="fui" required/>
							fui
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="870331758" class="leyenda">10.- Este hombre está muy ____________.</legend>
				<img class="image" src="../../../assets/concerns-4944444_1920.jpg"/>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.2064144448" value="preocupado" required/>
							preocupado
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.2064144448" value="contento" required/>
							contento
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.2064144448" value="satisfecho" required/>
							satisfecho
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="373849591" class="leyenda">11.- No pidas otra botella. Hoy no quiero beber ____________.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.878101320" value="mucho" required/>
							mucho
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.878101320" value="algo" required/>
							algo
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.878101320" value="muy" required/>
							muy
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="627928279" class="leyenda">12.- ¡Tu teléfono es increíble!. ____________ ya tiene algunos años y no funciona muy bien.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1999645166" value="Mi" required/>
							Mi
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1999645166" value="Mío" required/>
							Mío
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1999645166" value="El mío" required/>
							El mío
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1842160657" class="leyenda">13.- Ernesto es un estudiante excepcional. Es ____________disciplinado ____________ su clase.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.317366002" value="más / de" required/>
							más / de
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.317366002" value="el más / que" required/>
							el más / que
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.317366002" value="el más / de" required/>
							el más / de
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1112446625" class="leyenda">14.- Ayer te llamé pero no respondiste. ¿Qué ____________?</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1512304727" value="has hecho" required/>
							has hecho
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1512304727" value="hiciste" required/>
							hiciste
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1512304727" value="estabas haciendo" required/>
							estabas haciendo
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1266626019" class="leyenda">15.- Cuando era pequeña ____________ ir al río y dar de comer a los peces.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.850362995" value="me gustaba" required/>
							me gustaba
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.850362995" value="me ha gustado" required/>
							me ha gustado
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.850362995" value="me había gustado" required/>
							me había gustado
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1498533345" class="leyenda">16.- Cuando me dijo la verdad ____________ muy sorprendido.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.735231077" value="me quedé" required/>
							me quedé
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.735231077" value="me puse" required/>
							me puse
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.735231077" value="me volví" required/>
							me volví
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="915951596" class="leyenda">17.- ¿Recuerdas aquella serie de policías de la que te hablé? Al principio no me gustaba, pero ahora ____________ muy interesante. Tengo ganas de ver los últimos capítulos.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1285026048" value="es" required/>
							es
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1285026048" value="está" required/>
							está
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1285026048" value="ha estado" required/>
							ha estado
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="122426895" class="leyenda">18.- Ojalá ____________ tener más tiempo libre este año. El año pasado fue muy estresante.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.657302809" value="pueda" required/>
							pueda
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.657302809" value="puede" required/>
							puede
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.657302809" value="podría" required/>
							podría
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="502232370" class="leyenda">19.- ¿Su encargo? No se preocupe. En cuanto lo ____________ listo, le llamaré.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1474842637" value="tenga" required/>
							tenga
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1474842637" value="tengo" required/>
							tengo
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1474842637" value="tendría" required/>
							tendría
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="175215073" class="leyenda">20.- No puedo creer que tu novio todavía no ____________ lo de tu divorcio. Creo que deberías decírselo cuanto antes. </legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1330669320" value="sabría" required/>
							sabría
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1330669320" value="sabe" required/>
							sabe
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1330669320" value="sapa" required/>
							sapa
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="957007761" class="leyenda">21.- No puedo perdonar que ____________.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1904679819" value="me mentiera" required/>
							me mentiera
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1904679819" value="me mentiría" required/>
							me mentiría
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1904679819" value="me mintiera" required/>
							me mintiera
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="528162906" class="leyenda">22.- Si ____________, cambiaría muchas cosas que hice en el pasado.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1702807604" value="pueda" required/>
							pueda
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1702807604" value="podría" required/>
							podría
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1702807604" value="pudiera" required/>
							pudiera
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1511554278" class="leyenda">23.- No lo hice porque no me dijiste que lo ____________.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.276348493" value="haya hecho" required/>
							haya hecho
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.276348493" value="hiciera" required/>
							hiciera
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.276348493" value="hago" required/>
							hago
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="323854879" class="leyenda">24.- Pensé en regalarte este libro pero me pareció que quizá ya lo ____________.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.972752257" value="habrás leído" required/>
							habrás leído
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.972752257" value="habrías leído" required/>
							habrías leído
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.972752257" value="hayas leído" required/>
							hayas leído
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1787134254" class="leyenda">25.- Ahora ya no es posible, pero si ____________ a verla, le pediría perdón.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.364393031" value="volvería" required/>
							volvería
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.364393031" value="volviera" required/>
							volviera
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.364393031" value="vuelva" required/>
							vuelva
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1136018497" class="leyenda">26.- Van a seguir adelante con el plan aunque yo ya ____________ que no estoy de acuerdo. </legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1784050440" value="dije" required/>
							dije
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1784050440" value="diga" required/>
							diga
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1784050440" value="diría" required/>
							diría
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1744312055" class="leyenda">27.- El proyecto sigue adelante ____________ los problemas.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.2021645472" value="a pesar de" required/>
							a pesar de
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.2021645472" value="aunque" required/>
							aunque
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.2021645472" value="a pesar de que" required/>
							a pesar de que
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="839381163" class="leyenda">28.- Si no tuviera tanto trabajo, me ____________ a un curso de yoga.</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.295571755" value="apuntara" required/>
							apuntara
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.295571755" value="apuntaría" required/>
							apuntaría
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.295571755" value="apuntase" required/>
							apuntase
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="669485119" class="leyenda">29.- Mercedes está ____________.</legend>
				<img class="image" src="../../../assets/thinking-3079060_1920.jpg"/>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.834360231" value="indignada" required/>
							indignada
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.834360231" value="indecisa" required/>
							indecisa
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.834360231" value="inmisericorde" required/>
							inmisericorde
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend for="1738580749" class="leyenda">30.- ¡El concierto acaba de terminar! ¡Qué rabia que no ____________ a tiempo!</legend>
				<div class="form-group">
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1726157931" value="hubierais llegado" required/>
							hubierais llegado
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1726157931" value="hayais llegado" required/>
							hayais llegado
						</label>
					</div>
					<div class="radio">
						<label class="etiqueta">
							<input type="radio" name="entry.1726157931" value="lleguéis" required/>
							lleguéis
						</label>
					</div>
				</div>
			</fieldset>
			<input type="hidden" name="fvv" value="1"/>
			<input type="hidden" name="fbzx" value="8461977738504272510"/>
			<input type="hidden" name="pageHistory" value="0"/>
			<div class="center">
				<button type="submit" class="btn-primary">Send</button>
			</div>
		</form>
		
	</header>
</div>
